# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environments
.venv/
.venv-1/
venv/
ENV/
env/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db
